# Backups
*.swp
*.pyc

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

Robot2/.smbdeleteAAA419633
Robot2/PSoC/KIPR/KIPR/output
*.log
*.dbg
*.orig
*.cmx

# Directories
Robot2/PSoC Code/KIPR_2/KIPR_2/Templates
Robot2/PSoC Code/KIPR_2/KIPR_2/KIPR_2/backup/
Robot2/PSoC Code/KIPR_2/KIPR_2/KIPR_2/obj/
Robot2/PSoC Code/KIPR_2/KIPR_2/KIPR_2/output/

~*.docx
__pycache__/
